@model RentHouseSystem.Models.Facilities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facilities</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryEquipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryEquipment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilityCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilityCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MajorAppliances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MajorAppliances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBedroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBedroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToiletAndBathroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToiletAndBathroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositRequired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
