@model IEnumerable<RentHouseSystem.Models.Facilities>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilityCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirConditioning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorAppliances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBedroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToiletAndBathroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepositRequired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilityCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirConditioning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorAppliances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBedroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToiletAndBathroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepositRequired)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
